<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)"/>
    </Found>
    <NotFound>
        <PageTitle>404 - Page Not Found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <div class="container py-5">
                <h1 class="pb-2">404</h1>
                <p class="pb-4">Sorry, there's nothing at this address. &#128064;</p>
                <a href="/" class="btn btn-primary btn-sm">Go to Homepage</a>
            </div>
        </LayoutView>
    </NotFound>
</Router>
